<mat-card>

  <mat-card-header>
    <mat-card-title>
      <h3>More Details</h3>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item> Title: {{newEvent?.title}}</mat-list-item>
      <mat-list-item> Description: {{newEvent?.description}}</mat-list-item>
      <mat-list-item> Date: {{newEvent?.date}}</mat-list-item>
      <mat-list-item> Time: {{newEvent?.time}}</mat-list-item>
      <mat-list-item> Location: {{newEvent?.address}} </mat-list-item>
      <button mat-raised-button color="primary" routerLink="/">Join To This Event</button>
      <mat-list-item></mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>

  <mat-card-content>
    <agm-map [zoom]="17" [latitude]="newEvent?.location.lat" [longitude]="newEvent?.location.lng" [scrollwheel]="false" [draggable]="false">
      <agm-marker [latitude]="newEvent?.location.lat" [longitude]="newEvent?.location.lng">
        <agm-info-window>
          <h3>
            <strong>Your Event Is Here</strong>
          </h3>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-card-content>

</mat-card>