<mat-card>
  <div class="example-container">
    <mat-form-field>
      <input matInput type="text" placeholder="Search For Location" #search/>
    </mat-form-field>
  </div>
  <mat-card-content>
    <button mat-raised-button (click)="getUserLocation()" color="primary">Find My Location</button>
  </mat-card-content>

  <mat-card-content>
    <!-- <div *ngIf="lat && lng"> -->
    <agm-map [latitude]="startlat" [longitude]="startlng">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <h3>
            <strong>Howdy!</strong>
          </h3>
          <p>You are here!</p>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    <!-- <div> -->
  </mat-card-content>

</mat-card>