<mat-card>
    <mat-card-title>
        Login
    </mat-card-title>
    <mat-card-content>

        <mat-form-field>
            <input matInput placeholder="User Name" [(ngModel)]="userName" name="username" type="text" />
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password" />
        </mat-form-field>
        <br>
        <button mat-raised-button (click)="loginUser()" type="button" color="primary">Login</button>

    </mat-card-content>
</mat-card>