<mat-card>
    <mat-card-title>
        Register New User
    </mat-card-title>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput placeholder="First Name" name="firstname" type="text" ngModel />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Last Name" name="lasttname" type="text" ngModel />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="User Name" name="username" type="text" ngModel />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password" name="password" type="password" ngModel />
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>