<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>New Post</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field style="width: 100%">
        <!-- <textarea matInput [(ngModel)]="eventMsg" name="description" placeholder="Post"></textarea> -->
        Dosent Work
      </mat-form-field>
      <!-- <button mat-raised-button (click)="createEvent()" color="primary">Post</button> -->
    </form>
  </mat-card-content>
</mat-card>